sources:
    /tmp/identityiq.war: https://s3-us-gov-west-1.amazonaws.com/sailpoint-iiq-8.3/identityiq.war

commands:
    build_command:
        command: sudo yum update -y && unzip -o /tmp/identityiq.zip -d /var/app/current 
        && sudo systemctl restart my-app.service && echo "Deployment complete."



